# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# IDEs / Editors
vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/
